div.child{
    width: 100px;
    height: 100px;
    background-color: blue;}
div.child:hover{
    background-color: blueviolet;
}
input:focus{
    background-color: crimson !important;
}
/*impotant overwrites any styles*/
/*click*/
div::selection{
    background-color: cyan;
    color: darkgray;
}
/*highlighting by selecting becomes aqua
and color to grey*/
 
li{
    list-style: none;
    font-size: 4rem;
}
/* li::before{
    content: "check this out";
    color: darkgreen;
    font-size: 1rem;
}
li::after{
    content: "check this out";
    color: red;
    font-size: 1rem;
}
style none makes the bulletin gone, before and after helps to add content from css and doesnt allow to select , but allows to style independently
 */
li::after{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: red;
    border-radius: 50px;
    right: 10px;
    top: 30px;
}
/*its like add a div but using a ss an empty content will create a block*/